# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Data 
data/

# Modele ML (też duże)
saved_models/

# Logs / temp
*.log
tmp/

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS / misc
*.swp

models/